# Entornos y temporales
.venv/
__pycache__/
app/models/__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
instance/
venv/



# Datos y modelos
data/processed/*
data/web/*
models/faiss/*
models/chroma/*
models/embeddings/*

# Config
.env
config/settings.toml
