# Entorno virtual de Python
venv/

# Archivos temporales y de caché
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de datos y modelos
data/processed/
data/web/
models/faiss/
models/chroma/
models/embeddings/

# Configuración sensible
.env
config/settings.toml